body {
  height: 100vh;
  background: #f0fdfa;
  margin: 0 auto;
}

/* Body */

main {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  height: calc(100vh - 160px);
  margin-top: 150px;
}

.content {
  position: relative;
  min-width: 944px;
  min-height: 600px;
  max-width: 944px;
  max-height: 600px;
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.4);
  border-radius: 10px;
  padding: 32px;
}

/* Tag */
.tag {
  position: absolute;
  width: 178px;
  height: 63px;
  left: 0;
  top: 0;
  background: #155e75;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 25px 25px 0px;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.08em;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

/* Button */
.btn-wrapper {
  display: flex;
  width: 450px;
  justify-content: space-between;
  margin-left: 180px;
  margin-top: 45px;
}
.btn-r {
  width: 195px;
  height: 62px;
  text-decoration: none;
  border: none;
  background: #2dd4bf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  cursor: pointer;
}
.btn-r:active,
.btn-c:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-c {
  width: 195px;
  height: 62px;
  background: #e1e1e1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #787878;
}
.btn-r,
.btn-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */
.form-group {
  margin-left: 80px;
}

/* タイトルと著者 */
#id_title {
  position: absolute;
  width: 624px;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: black;
  font-family: "Noto Sans JP";
  font-style: normal;
  margin-left: 44px;
  top: 100px;
  text-decoration: underline;
  text-decoration-color: #d9d9d9;
}
#id_author {
  position: absolute;
  top: 166px;
  margin-left: 44px;
  text-decoration: underline;
  text-decoration-color: #d9d9d9;
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 100%;
  color: black;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 180px;
  margin-top: 0;
  margin-bottom: 0;
}
#id_title,
#id_author {
  outline: none;
  border: none;
  left: 228px;
}

/* label */
#form-p0,
#form-p1,
#form-p4,
#form-p5,
#form-p6,
#form-p7,
#form-p8 {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.08em;
  color: #000000;
}
#form-p4,
#form-p5,
#form-p6,
#form-p7,
#form-p8 {
  margin-left: 402px;
}
#form-p0 {
  margin-top: 90px;
  margin-left: 42px;
}
#form-p1 {
  margin-top: 48px;
  margin-left: 60px;
}
#form-p4 {
  margin-top: 75px;
}
#form-p5 {
  margin-top: 43px;
}
#form-p6 {
  margin-top: 43px;
}
#form-p7 {
  margin-top: 43px;
}
#form-p8 {
  margin-top: 43px;
}

/* form */
#id_released_at,
#id_purchased_at,
#id_page_count,
#id_category,
#id_price {
  position: absolute;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 100%;
  color: black;
  font-family: "Noto Sans JP";
  font-style: normal;
  margin-top: 0;
  width: 240px;
  height: 45px;
  font-size: 20px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  box-sizing: border-box;
}
#id_released_at {
  top: 260px;
}
#id_purchased_at {
  top: 318px;
}
#id_page_count {
  top: 378px;
}
#id_category {
  top: 437px;
  margin-left: 18px;
}
#id_price {
  top: 496px;
}
#id_released_at,
#id_purchased_at {
  margin-left: 60px;
}
#id_page_count,
#id_price {
  text-align: right;
  margin-left: 39px;
}

#form-p2 label,
#form-p3 label {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* img */
img {
  position: absolute;
  width: 188px;
  height: auto;
  left: 228px;
  top: 270px;
}
/* アップロードボタンのスタイルを無効にする */
#form-p3 input {
  display: none;
}
#form-p3 label {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 397px;
  top: 512px;
  background: url(../images/plus.png);
  border: none;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  color: transparent;
}
#form-p3 label:hover {
  background: url(../images/plus-hover.png);
}

.errorlist {
  position: absolute;
  width: 1000px;
  top: 10px;
  display: flex;
  text-align: center;
  color: red;
}
