body {
  width: 100vw;
  height: 100vh;
  background: #f0fdfa;
  margin: 0 auto;
}

/* Body */

main {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  height: calc(100vh - 140px);
  padding-top: 140px;
}

.content {
  position: relative;
  width: 1000px;
  height: 657px;
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.4);
  border-radius: 10px;
  padding: 32px;
}

/* Tag */
.tag {
  position: absolute;
  width: 178px;
  height: 63px;
  left: 0;
  top: 40px;
  background: #155E75;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 25px 25px 0px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.08em;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

/* Button */
.btn-wrapper {
  display: flex;
  width: 450px;
  justify-content: space-between;
  margin-left: 200px;
  margin-top: 24px;
}
.btn-r {
  width: 195px;
  height: 62px;
  text-decoration: none;
  border: none;
  background: #2DD4BF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}
.btn-r:hover,
.btn-c:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-c {
  width: 195px;
  height: 62px;
  background: #EDEEEE;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.btn-r,
.btn-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */
.form-group {
  margin-left: 80px;
}
#id_title {
  position: absolute;
  width: 800px;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: black;
  font-family: "Noto Sans JP";
  font-style: normal;
  margin-left: 44px;
  top: 138px;
  text-decoration:underline;
  text-decoration-color: #D9D9D9;
}
.title,
.author,
.released,
.purchased,
.page_count,
.category,
.price {
  width: 100%;
  height: 16px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.08em;
  color: #000000;
}
.title {
  margin-top: 130px;
}
.author {
  margin-top: 45px;
}
#id_author {
  margin-left: 85px;
  text-decoration:underline;
  text-decoration-color: #D9D9D9;
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 100%;
  color: black;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 180px;
  margin-top: 0;
  margin-bottom: 0;
}
#id_title,
#id_author{
  outline: none;
  border: none;
}
.released {
  margin-left: 441px;
  margin-top: 55px;
}
.purchased {
  margin-left: 441px;
  margin-top: 43px;
}
.page_count {
  margin-left: 441px;
  margin-top: 43px;
}
.category {
  margin-left: 441px;
  margin-top: 43px;
}
.price {
  margin-left: 441px;
  margin-top: 43px;
}
#id_released_at,
#id_purchased_at,
#id_page_count,
#id_category,
#id_price {
  position: absolute;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 100%;
  color: black;
  font-family: "Noto Sans JP";
  font-style: normal;
  margin-top: 0;
  width: 240px;
  height: 45px;
  font-size: 20px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  box-sizing: border-box;
}
#id_released_at {
  margin-left: 565px;
  top: 278px;
}
#id_purchased_at {
  margin-left: 565px;
  top: 337px;
}
#id_page_count {
  margin-left: 565px;
  top: 396px;
  text-align: right;
}
#id_category {
  margin-left: 565px;
  top: 456px;
}
#id_price {
  margin-left: 565px;
  top: 515px;
  text-align: right;
}
#id_image_path {
  /* width: 40px;
  height: 40px; */
  background: #ADECE2;
  filter: blur(0.5px);
}
img {
  position: absolute;
  width: 163px;
  height: auto;
  left: 78px;
  top: 150px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


