{% extends 'base.html' %} 

{% block content %}
{% include 'navbar.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/add.css' %}">

<main>
    <div class="content">
    <form action="" method="POST" name="form_send_book_update" id="form_send_book_update" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.as_p }}
            <div class="btn-wrapper">
                <button type="submit" class="btn-blue" name="button_send_book_update"> 登録 </button>
                <a href="{% url 'life:barcode' %}"  class="btn-red">キャンセル</a>
            </div>
        </div>
    </form>
    <p class="yen">円</p>

    <script type="text/javascript" src="{% static 'js/imgadd.js' %}"></script>
    </div>
</main>

{% endblock content %}