{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/barcode.css' %}">
{% endblock %} 

{% block content %}
{% include 'navbar.html' %}
<main>
    <h1>バーコード画面です</h1>
    <a href="{% url 'life:home' %}">ホーム画面へ</a>
    <a href="{% url 'life:logout' %}">ログアウト</a>
    <form action="" method="POST" name="form_send_barcode_update" id="form_send_barcode_update" enctype="multipart/form-data">
        {% csrf_token %}
        {{ barcode_update_form.non_field_errors }}
        <div class="form-group">
          {{ barcode_update_form.as_p }}
          <button type="submit" class="" name="button_send_barcode_update"> バーコード画像で検索 </button>
        </div>
    </form>

    <form action="" method="POST" name="form_send_barcode_input" id="form_send_barcode_input">
        {% csrf_token %}
        {{ barcode_input_form.non_field_errors }}
        <div class="form-group">
          {{ barcode_input_form.as_p }}
          <button type="submit" class="" name="button_send_barcode_input"> 数字で検索 </button>
        </div>
    </form>
</main>
{% endblock content %}
