{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/barcode.css' %}" />
{% endblock %}

{% block content %}
{% include "navbar/navbar_add.html" %}
<main>
  <div class="content">
    <!-- <div class="sub-content"> -->
      <h1>検索</h1>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div id="form1">
        <h2>バーコード画像で探す？</h2>
        <div id="image-area"></div>
        <form action="" method="POST" name="form_send_barcode_update" id="form_send_barcode_update" enctype="multipart/form-data">
            {% csrf_token %}
            {{ barcode_update_form.non_field_errors }}
            <div class="form-group-update">
              {{ barcode_update_form.as_p }}
              <button type="submit" class="" name="button_send_barcode_update"> 検索！ </button>
            </div>
        </form>
      </div>
      <div id="form2">
        <h2>バーコード数字で探す？</h2>
        <form action="" method="POST" name="form_send_barcode_input" id="form_send_barcode_input">
            {% csrf_token %}
            {{ barcode_input_form.non_field_errors }}
            <div class="form-group-input">
              {{ barcode_input_form.as_p }}
              <button type="submit" class="" name="button_send_barcode_input"> 検索！ </button>
            </div>
        </form>
      </div>
    <!-- </div> -->
  </div>
  <a href="{% url 'life:barcode_camera' %}" >
    <label id="camera-link">PCのカメラでバーコードを取得する</label>
  </a>
  <script type="text/javascript" src="{% static 'js/barcode.js' %}"></script>
</main>
{% endblock content %}
