{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static '/css/book-modal.css' %}" />
{% endblock %} 
{% block content %}
<!-- {% include "navbar.html" %} -->

ヘッダー回避用（CSSつけたら消してください）
<br><br><br><br><br><br>

<h1>詳細画面です</h1>
<div>
  <ul>
    {% for obj in object_list %}
    <a href="https://www.amazon.co.jp/s?k={{ obj.bid.barcode }}" target="_blank">
      {% if obj.bid.image_path != "img/noimage.png" %}
      <img src="/media/{{ obj.bid.image_path}}" alt="画像">
      {% elif obj.bid.image_link %}
      <img src="{{ obj.bid.image_link}}" alt="画像">
      {% elif obj.bid.image_path %}
      <img src="/media/{{ obj.bid.image_path}}" alt="画像">
      {% endif %}
    </a>
    <p>{{ obj.bid.title }}</p>
    <p>{{ obj.cid.category_name }}</p>

    {% if obj.bid.author != None %}
    <p>著者：{{ obj.bid.author }}</p>
    {% else %}
    <p>著者：わからないです</p>
    {% endif %}

    {% if obj.bid.price != None %}
    <p>価格：{{ obj.bid.price }}円</p>
    {% else %}
    <p>価格：わからないです</p>
    {% endif %}

    {% if obj.bid.page_count != None %}
    <p>ページ数：{{ obj.bid.page_count }}ページ</p>
    {% else %}
    <p>ページ数：わからないです</p>
    {% endif %}

    {% if obj.bid.released_at != None %}
    <p>出版日：{{ obj.bid.released_at }}</p>
    {% else %}
    <p>出版日：わからないです</p>
    {% endif %}

    {% if obj.bid.purchased_at != None %}
    <p>購入日：{{ obj.bid.purchased_at }}</p>
    {% else %}
    <p>購入日：わからないです</p>
    {% endif %}

    {% if obj.evaluation != 0 %}
    <span>評価：</span>
    {% with ''|center:obj.evaluation as range %}
    {% for _ in range %}
    <span>★</span>
    {% endfor %}
    {% endwith %}
    <p></p>
    {% else %}
    <p>評価：☆☆☆☆☆</p>
    {% endif %}

    {% if obj.progress != "unread"%}
    <p>進捗状況：{{ obj.progress }}ページ</p>
    {% else %}
    <p>進捗状況：なし</p>
    {% endif %}

    <br>
    {% if obj.review != None %}
    <p>レビュー：{{ obj.review }}</p>
    {% else %}
    <p>レビュー：なし</p>
    {% endif %}

    <a href="https://www.amazon.co.jp/s?k={{ obj.bid.barcode }}" target="_blank">この本をAmazonで確認する</a>
    <div>
      <button > <a href="{% url 'life:book_update' obj.uuid %}">編集する</a></button>
   
  </div>
    <div>
      <button id="book-confirmation-btn">削除</button>
    </div>
    {% include 'modal/book-delete.html' %}
    {% endfor %}
  </ul>
</div>
<script type="text/javascript" src="{% static 'js/book-delete-modal.js' %}"></script>
{% endblock content %}