{% extends 'base.html' %}

{% block content %}
<h1>登録画面です</h1>
<a href="{% url 'life:home' %}">ホーム画面へ</a>
<a href="{% url 'life:logout' %}">ログアウト</a>
<div>
  <ul>
    {% for obj in object_list %}
    {{ obj.title }}
    <br>
    <a href="https://www.amazon.co.jp/s?k={{ obj.barcode }}">
      {% if obj.image_path != "img/noimage.png" %}
        <img src="/media/{{ obj.image_path}}" alt="画像">
      {% elif obj.image_link %}
        <img src="{{ obj.image_link}}" alt="画像">
      {% elif obj.image_path %}
        <img src="/media/{{ obj.image_path}}" alt="画像">
      {% endif %}
    </a>
    <br>
    {{ obj.auther }}
    {{ obj.released_at }}
    {% endfor %}
  </ul>
</div>
{% endblock content %}