{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static '/css/modal.css' %}" />
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} 

{% block content %}
{% include "navbar/navbar_home.html" %}
<main>
  <div class="main-content">
    <div class="sab-content">
      <div class="category-name">カテゴリー</div>
      <ul class="category">
        {% for cate in category_list %}
        <button  id="category-button" class="em{{ cate.id }}">{{ cate.category_name }}</button>
        {% endfor %}
      </ul>
      <div class="btn-content">
        <button id="add-category-btn" >
          <img src="../static/images/plus-hover.png"/>
          <img src="../static/images/plus.png"/>
        </button>
      </div>
    </div>
    <div class="content">
      <div class="title">
        本棚
      </div>
      {% include 'modal/add-category.html' %}
      <div>
        <ul class="items">
          {% for obj in object_list %}
          <div class="item item{{obj.cid_id}}">
            <p>{{ obj.bid.title }}</p>
            <a href="{% url 'life:detail' obj.uuid %}">
              <span>詳細ページへ</span>
              {% if obj.bid.image_path != "img/noimage.png" %}
              <img src="/media/{{ obj.bid.image_path }}" alt="画像" />
              {% elif obj.bid.image_link %}
              <img src="{{ obj.bid.image_link }}" alt="画像" />
              {% elif obj.bid.image_path %}
              <img src="/media/{{ obj.bid.image_path }}" alt="画像" />
              {% endif %}
            </a>
            <!-- <hr /> -->
          </div>
          {% endfor %}
        </ul>
      </div>
  </div>
</main>
<script type="text/javascript" src="{% static 'js/category.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modal.js' %}"></script>

{% endblock content %}
