{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar/navbar_mypage.html' %}
<link rel="stylesheet" type="text/css" href="{% static '/css/book-modal.css' %}" />
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<main>
  {% include 'sidebar_mypage.html' %}
      <div class="content">
      <form method="POST">
        {% csrf_token %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
          {{ field }}
          {{ field.errors }}
        </div>
        {% endfor %}
        <button type="button" id="book-confirmation-btn">変更</button>
        {% include 'modal/password-fix.html' %}
      </form>
  </div>
</main>
<script type="text/javascript" src="{% static 'js/book-delete-modal.js' %}"></script>
{% endblock content %}