{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar/navbar_mypage.html' %}
<link rel="stylesheet" type="text/css" href="{% static '/css/modal.css' %}" />
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<main>
  {% include 'sidebar/sidebar_password.html' %}
      <div class="content">
      <form method="POST">
        {% csrf_token %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="my_icon">
          <svg width="80" height="92" viewBox="0 0 80 92" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.75 87.125V75.375C4.75 65.641 12.641 57.75 22.375 57.75H57.625C67.359 57.75 75.25 65.641 75.25 75.375V87.125M40 4.875C31.0226 4.875 22.375 11.8681 22.375 22.5C22.375 31.4774 29.3681 40.125 40 40.125C50.6319 40.125 57.625 31.4774 57.625 22.5C57.625 11.8681 48.9774 4.875 40 4.875Z" stroke="#444444" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="username">{{ user.username }}</div>
        <hr>    
        <div class="old-ps-label">元のパスワード</div>
        <div>{{ form.old_password }}</div>
        <div class="new-ps1-label">新しいパスワード</div>
        <div>{{ form.new_password1 }}</div>
        <div class="new-ps2-label">新しいパスワード（確認用）</div>
        <div>{{ form.new_password2 }}</div>
        <button type="button" id="user-fix">完了</button>
        {% include 'modal/password-fix.html' %}
      </form>
  </div>
</main>
<script type="text/javascript" src="{% static 'js/user-fix-modal.js' %}"></script>
{% endblock content %}